/*
* Lista Import
*/
/*
* variables
*/
.container__grid__index {
  display: grid;
  grid-template-areas: "links links links" "content_index content_index content_index" "content_index content_index content_index" "content_index content_index content_index" "foot foot foot";
}

.content__nav__menu {
  grid-area: links;
}

.content__body {
  grid-area: content_index;
}

.content__footer {
  grid-area: foot;
}

/*
* Layout
*/
.content__body {
  margin-top: 0px;
}

.home__portada {
  background-image: url(../assets/Portada.jpg);
  width: 100%;
  height: 600px;
}
.home__portada__title {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: wheat;
}

.presentation {
  background-image: url(../assets/manos-vista-frontal-primer-cartel-seguridad_23-2149919543.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.presentation__about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
}
.presentation__about__article {
  padding: 20px;
  width: 60%;
}
.presentation__about__article h2 {
  text-align: center;
  color: blue;
}
.presentation__about__article p {
  text-align: justify;
}
.presentation__about__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 400px;
}
.presentation__about__image__img {
  animation-name: mianimacionpresentation;
  animation-duration: 5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /*@keyframes mianimacionpresentation{
  0% {donw:0;top:0px;}
  25%{color:rgb(139, 138, 138);donw:10px;top:5px;}
  50% {donw:20px;top:10px;}
  75% {donw:30px;top:15px;}
  100% {donw:60px;top:0px;}
  }*/
}
@keyframes mianimacionpresentation {
  0% {
    donw: 0;
    top: 0px;
  }
  25% {
    donw: 10px;
    top: 5px;
  }
  50% {
    donw: 20px;
    top: 10px;
  }
  75% {
    donw: 30px;
    top: 15px;
  }
  100% {
    donw: 40px;
    top: 0px;
  }
}
.presentation__hidden {
  height: 400px;
  background-color: rgba(240, 248, 255, 0);
}

.education {
  background-image: url(../assets/educacion.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.education__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
}
.education__hidden {
  height: 400px;
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.education__hidden h2 {
  font-size: 40px;
}
.education__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 0, 74);
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: 5px 0px 5px 60px;
}
.education__number:hover {
  transform: scale(1.5);
}
.education__1 {
  display: flex;
  justify-content: start;
  align-items: center;
  border-left: 2px solid black;
  height: 100px;
  margin-left: 73px;
  padding-bottom: 10px;
}
.education__1__image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: width 2s, height 2s, transform 2s;
}
.education__1__image:hover {
  transform: rotate(360deg);
}
.education__1__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.education__1__description h6 {
  padding-top: 20px;
  color: black;
}
.education__1__description h6:hover {
  color: rgb(1, 1, 76);
  transform: scale(0.9);
  font-weight: 600;
}
.education__1__description p {
  color: blue;
}
.education__1__description p:hover {
  font-weight: 800;
}
.education__column {
  width: 70%;
}
.education__img__lateral {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  transition: width 2s, height 2s, transform 2s;
}
.education__img__lateral__mov {
  animation-name: mianimacioneduc;
  animation-duration: 5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes mianimacioneduc {
  0% {
    donw: 0;
    top: 0px;
  }
  25% {
    color: rgb(139, 138, 138);
    donw: 10px;
    top: 5px;
  }
  50% {
    donw: 20px;
    top: 10px;
  }
  75% {
    donw: 30px;
    top: 15px;
  }
  100% {
    donw: 60px;
    top: 0px;
  }
}
.education__img__lateral:hover {
  transform: rotate(360deg);
}

.content__footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #0a0135;
}
.content__footer__column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.content__footer__column__footer__rrss {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.content__footer__column__footer__rrss svg {
  animation-name: mianimacionrrss;
  animation-duration: 5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes mianimacionrrss {
  0% {
    donw: 0;
    top: 0px;
  }
  25% {
    color: rgb(139, 138, 138);
    donw: 10px;
    top: 5px;
  }
  50% {
    donw: 20px;
    top: 10px;
  }
  75% {
    donw: 30px;
    top: 15px;
  }
  100% {
    donw: 60px;
    top: 0px;
  }
}

/*
* Media Queries
*/

/*# sourceMappingURL=main.css.map */
