/*
* Lista Import
*/
/*
* variables
*/
.redes-linkedin {
  color: #0000ff;
}

.redes-whatsapp {
  color: #00b938;
}

.redes-facebook {
  color: #0000ff;
}

.redes-envelope {
  color: rgb(190, 54, 190);
}

.redes-github {
  color: white;
}

.values-heart {
  color: #680602;
}

.values-arrow {
  color: #01571b;
}

.values-people {
  color: #02445e;
}

.container__grid__index {
  display: grid;
  grid-template-areas: "links links links" "content_index content_index content_index" "content_index content_index content_index" "content_index content_index content_index" "content_index content_index content_index" "foot foot foot";
}

.content__nav__menu {
  grid-area: links;
}

.content__body {
  grid-area: content_index;
}

.content__footer {
  grid-area: foot;
}

/*
* Layout
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  justify-content: center;
  overflow-x: hidden;
  min-height: 100%;
  min-width: 100%;
}

main {
  width: 100%;
  min-width: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.style__navbar {
  background-color: #03031a !important;
  position: fixed;
  width: 100%;
  z-index: 1030;
}
.style__navbar__name {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
}
.style__navbar a {
  color: white;
}
.style__navbar a:hover {
  transition: ease-in 0.4s;
  background-color: aliceblue;
}
.style__navbar__position {
  justify-content: flex-end;
  width: 100%;
}
.style__navbar__text {
  justify-content: flex-end;
}
.style__navbar__text a {
  color: white;
}
.style__navbar__text a:hover {
  background-color: aliceblue;
  transition: ease-in 0.4s;
}

.content__body {
  margin-top: 0px;
}

.home__portada {
  background-image: url(../assets/portada-22.JPG);
  width: 100%;
  height: 600px;
}
.home__portada__title {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

.presentation {
  background-image: url(../assets/manos-vista-frontal-primer-cartel-seguridad_23-2149919543.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.presentation__about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 600px;
}
.presentation__about__article {
  padding: 20px;
  width: 60%;
  box-shadow: 1px 0px 12px 0px rgba(128, 128, 128, 0.2196078431);
  margin: 10px;
}
.presentation__about__article h2 {
  text-align: center;
  color: blue;
}
.presentation__about__article p {
  text-align: justify;
}
.presentation__about__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 400px;
}
.presentation__about__image__img {
  animation-name: mianimacionpresentation;
  animation-duration: 5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes mianimacionpresentation {
  0% {
    donw: 0;
    top: 0px;
  }
  25% {
    donw: 10px;
    top: 5px;
  }
  50% {
    donw: 20px;
    top: 10px;
  }
  75% {
    donw: 30px;
    top: 15px;
  }
  100% {
    donw: 40px;
    top: 0px;
  }
}
.presentation__hidden {
  height: 400px;
  background-color: rgba(240, 248, 255, 0);
}

.education {
  background-image: url(../assets/educacion.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.education__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.education__hidden {
  height: 400px;
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.education__hidden h2 {
  font-size: 40px;
}
.education__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 0, 74);
  color: white;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin: 10px 0px 10px 63px;
}
.education__number:hover {
  transform: scale(1.5);
}
.education__1 {
  display: flex;
  justify-content: start;
  align-items: center;
  border-left: 2px solid black;
  height: 100px;
  margin-left: 73px;
  padding-bottom: 10px;
}
.education__1__image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: width 2s, height 2s, transform 2s;
}
.education__1__image:hover {
  transform: rotate(360deg);
}
.education__1__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.education__1__description h6 {
  padding-top: 20px;
  color: black;
}
.education__1__description h6:hover {
  color: rgb(1, 1, 76);
  transform: scale(0.9);
  font-weight: 600;
}
.education__1__description p {
  color: blue;
}
.education__1__description p:hover {
  font-weight: 800;
}
.education__column {
  width: 70%;
}
.education__img__lateral {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  transition: width 2s, height 2s, transform 2s;
}
.education__img__lateral__mov {
  animation-name: mianimacioneduc;
  animation-duration: 5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes mianimacioneduc {
  0% {
    donw: 0;
    top: 0px;
  }
  25% {
    color: rgb(139, 138, 138);
    donw: 10px;
    top: 5px;
  }
  50% {
    donw: 20px;
    top: 10px;
  }
  75% {
    donw: 30px;
    top: 15px;
  }
  100% {
    donw: 60px;
    top: 0px;
  }
}
.education__img__lateral:hover {
  transform: rotate(360deg);
}

.tecno {
  background-image: url(../assets/tecnologias-2.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tecno__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
}
.tecno__hidden {
  height: 400px;
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}
.tecno__hidden h2 {
  font-size: 40px;
}
.tecno__tools {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 80px 40px 80px;
}
.tecno__tools__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tecno__tools__row p {
  text-align: center;
  padding-top: 10px;
  font-weight: 800;
}
.tecno__tools__row p:hover {
  color: blue;
}
.tecno__tools__row__card {
  background-color: rgba(128, 128, 128, 0.1215686275);
  padding: 50px;
  box-shadow: 5px -3px 20px 0px rgba(0, 0, 255, 0.2392156863);
  border-radius: 10px;
}
.tecno__tools__row__card:hover {
  transform: scale(1.2);
}
.tecno__tools__row__card img {
  transition: width 2s, height 2s, transform 2s;
}
.tecno__tools__row__card img:hover {
  transform: rotate(360deg);
}

.portafolio {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portafolio h2 {
  width: 100%;
  text-align: center;
  padding: 60px;
  background-color: gray;
  box-shadow: 1px 1px 10px gray;
}
.portafolio__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.portafolio__row__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.portafolio__row__content__card {
  background-color: rgba(194, 194, 194, 0.8392156863);
  margin: 30px;
  padding: 30px;
  box-shadow: 1px 1px 6px gray;
}
.portafolio__row__content__card a {
  text-decoration: none;
}
.portafolio__row__content__card h4 {
  padding-top: 20px;
  color: rgb(19, 0, 40);
}
.portafolio img {
  width: 100%;
}

.content__footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #0a0135;
  justify-content: center;
}
.content__footer__column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.content__footer__column__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.content__footer__column__text h4 {
  text-align: center;
}
.content__footer__column__text p {
  text-align: center;
}
.content__footer__column__footer__rrss {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.content__footer__column__footer__rrss svg {
  animation-name: mianimacionrrss;
  animation-duration: 5s;
  animation-delay: 1s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes mianimacionrrss {
  0% {
    donw: 0;
    top: 0px;
  }
  25% {
    color: rgb(139, 138, 138);
    donw: 10px;
    top: 5px;
  }
  50% {
    donw: 20px;
    top: 10px;
  }
  75% {
    donw: 30px;
    top: 15px;
  }
  100% {
    donw: 60px;
    top: 0px;
  }
}

/*
* Media Queries
*/
@media (max-width: 700px) {
  .container__grid__index {
    display: grid;
    grid-template-areas: "links" "content_index " "content_index " "content_index " "content_index " "foot";
  }
  .content__nav__menu {
    grid-area: links;
  }
  .content__body {
    grid-area: content_index;
  }
  .content__footer {
    grid-area: foot;
  }
  .home__portada__title {
    display: flex;
  }
  .home__portada__title h1 {
    font-size: 15px;
  }
  .home__portada__title h4 {
    font-size: 15px;
  }
  .presentation__about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background-color: rgb(255, 255, 255);
    height: auto;
  }
  .education__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .education__column {
    width: 100%;
  }
  .education__number {
    display: none;
    justify-content: none;
    align-items: none;
    background-color: none;
    color: none;
    border-radius: none;
    height: none;
    width: none;
    margin: none;
  }
  .education__1 {
    display: flex;
    justify-content: start;
    align-items: center;
    border-left: none;
    height: 100px;
    margin: 20px 10px 20px 10px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .tecno {
    background-image: url(../assets/tecnologias-2.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tecno__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
  }
  .tecno__hidden {
    height: 400px;
    background-color: rgba(240, 248, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  .tecno__hidden h2 {
    font-size: 40px;
  }
  .tecno__tools {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 80px 40px 80px;
  }
  .tecno__tools__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .tecno__tools__row p {
    text-align: center;
    padding-top: 10px;
    font-weight: 800;
  }
  .tecno__tools__row p:hover {
    color: blue;
  }
  .tecno__tools__row__card {
    background-color: rgba(128, 128, 128, 0.1215686275);
    padding: 50px;
    box-shadow: 5px -3px 20px 0px rgba(0, 0, 255, 0.2392156863);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .tecno__tools__row__card:hover {
    transform: scale(1.2);
  }
  .tecno__tools__row__card img {
    transition: width 2s, height 2s, transform 2s;
  }
  .tecno__tools__row__card img:hover {
    transform: rotate(360deg);
  }
  .portafolio__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=main.css.map */
